<p id="notice"><%= notice %></p>
<% if (@errors == nil) %>
<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to "Log out", logout_path %><br>
</p>

<p>
  <strong>Password:</strong>
  <%= @developer.password %>
   &nbsp;&nbsp;&nbsp;
  <%= link_to "change your password", passwordchange_path %><br>
</p>

<p>
  <strong>Project:</strong>
  <% @project.each do |f| %>
  <%= f.title %>
  <% end %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to "project overview", @project%><br>
</p>

<br>
<h2>Listing All Stories in the project</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Point value</th>
    <th>Stage</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @allstories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.description %></td>
        <td><%= story.point_value %></td>
        <td><%= story.Stage %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Sign up', sign_up_story_path(story) %></td>
        <td><% end %></td>
  </tr>
  </tbody>
</table>
<br><br>
<h2>Listing Stories created by you</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Point value</th>
    <th>Stage</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<% @stories.each do |story| %>
    <tr>
      <td><%= story.title %></td>
      <td><%= story.description %></td>
      <td><%= story.point_value %></td>
      <td><%= story.Stage %></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', story %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'create a story', createstory_path %> <br> <br>
<!--<%= link_to 'Back', :back %>-->

<h1>Listing Stories assigned to you</h1>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Point value</th>
        <th>Stage</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @mystories.each do |story| %>
          <tr>
            <td><%= story.title %></td>
            <td><%= story.description %></td>
            <td><%= story.point_value %></td>
            <td><%= story.Stage %></td>
            <td><%= link_to 'Show', story %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


<% else %>
You are currently not assigned to any projects, please contact admins!
<br><br>
<%= link_to 'back to login', login_path %><br>
<% end %>
