<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Point value:</strong>
  <%= @story.point_value %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @story.Stage %>
</p>

<p>
  <strong>Developers are:</strong>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.email%></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<!--<%= link_to 'Edit', edit_story_path(@story) %> |-->
<%= link_to 'Back', :back %>
